<footer class="footer">
    <div class="footer-container">
        <!-- Logo -->
        <div class="footer-brand">
            <a href="/" class="footer-home-link">
                <img class="footer-logo" src="/images/logos-icons/logo.png" alt="Green Zoo Logo">
            </a>
        </div>

        <div class="footer-copy">
            <p class="footer-tagline">
                Discover and experiencing the nature in one place
            </p>
            <p class="footer-subtext">
                Open hours: 10:00 - 20:00 <br>
                &copy; Green Zoo Wildlife Park 2026
            </p>
        </div>

        <!-- Social Icons -->
        <div class="footer-social">
            <p class="footer-contact">
                Green Zoo Wildlife Park<br>
                West park, 33,115 27 Sydney<br>
                +61 0773346735<br>
                greenzoo@org.au
            </p>


            <nav>
                <ul>
                    <li><a href="/about-us">
                            <img class="social-icon" src="/images/logos-icons/about-us-icon.png" alt="About Us"></a>
                    </li>
                    <li><a href="https://github.com/Lesstread666/Green_Zoo">
                            <img class="social-icon" src="/images/logos-icons/github-icon.png" alt="Github"></a>
                    </li>
                    <li><a href="https://vercel.com/vladislav-s-projects-ef0f9650/green-zoo">
                            <img class="social-icon" src="/images/logos-icons/vercel-icon.png" alt="Vercel"></a>
                    </li>
                </ul>
            </nav>
        </div>
</footer>