<header class="header">
    <img class="logo" alt="Green Zoo Logo" src="/images/logos-icons/logo.png" />

    <div class="brand-text">
        <span class="brand-title">Green Zoo</span>
        <span class="brand-subtitle">Wildlife Park</span>
    </div>
    </div>

    <nav class="navigation-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/mammals">Mammals</a></li>
            <li><a href="/reptiles">Reptiles</a></li>
            <li><a href="/birds">Birds</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>
    </nav>
</header>