<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        <%= pageTitle %>
    </title>

    <!-- Common files -->
    <link rel="stylesheet" href="/styles/typography.css">
    <link rel="stylesheet" href="/styles/header-footer.css">

    <!-- For all pages except About us -->
    <% if (activePage !=="about" ) { %>
        <link rel="stylesheet" href="/styles/animal-content.css">
        <script src="/js/mobile-sidebar.js" defer></script>
        <% } %>

            <!-- About us files -->
            <% if (activePage==="about" ) { %>
                <link rel="stylesheet" href="/styles/about-us.css">
                <% } %>
</head>