<header class="header">
    <!-- Brand: Logo + Text -->
    <div class="brand">
        <img class="logo" alt="Green Zoo Logo" src="/images/logos-icons/logo.png" />
        <div class="brand-text">
            <span class="brand-title">Green Zoo</span>
            <span class="brand-subtitle">Wildlife Park</span>
        </div>
    </div>

    <!-- Navigation Menu -->
    <nav class="navigation-menu">
        <ul>
            <li>
                <a href="/mammals" class="has-icon">
                    <img class="nav-icon" src="/images/logos-icons/mammals-icon.png" alt="Mammals Icon">
                    <span class="nav-text">Mammals</span>
                </a>
            </li>
            <li>
                <a href="/reptiles" class="has-icon">
                    <img class="nav-icon" src="/images/logos-icons/reptiles-icon.png" alt="Reptiles Icon">
                    <span class="nav-text">Reptiles</span>
                </a>
            </li>
            <li>
                <a href="/birds" class="has-icon">
                    <img class="nav-icon" src="/images/logos-icons/birds-icon.png" alt="Birds Icon">
                    <span class="nav-text">Birds</span>
                </a>
            </li>
            <li>
                <a href="/about-us">
                    <span class="nav-text">About Us</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
