<header class="header">
    <!-- Brand: Logo + Text -->
    <div class="brand">
        <img class="logo" alt="Green Zoo Logo" src="/images/logos-icons/logo.png" />
        <div class="brand-text">
            <span class="brand-title">Green Zoo</span>
            <span class="brand-subtitle">Wildlife Park</span>
        </div>
    </div>

    <!-- Desktop Navigation -->
    <nav class="navigation-menu desktop-nav">
        <ul>
            <li><a href="/mammals">Mammals</a></li>
            <li><a href="/reptiles">Reptiles</a></li>
            <li><a href="/birds">Birds</a></li>
        </ul>
    </nav>

    <!-- Mobile Navigation -->
    <nav class="navigation-menu mobile-nav">
        <ul>
            <li><a href="/mammals"><img class="nav-icon" src="/images/logos-icons/mammals-icon.png" alt="Mammals"></a>
            </li>
            <li><a href="/reptiles"><img class="nav-icon" src="/images/logos-icons/reptiles-icon.png"
                        alt="Reptiles"></a></li>
            <li><a href="/birds"><img class="nav-icon" src="/images/logos-icons/birds-icon.png" alt="Birds"></a></li>
        </ul>
    </nav>
</header>