<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/styles/typography.css">
  <link rel="stylesheet" href="/styles/header-footer.css">
  <link rel="stylesheet" href="/styles/about-us.css">
</head>


<%- include("../partials/header") %>

  <%- include("../partials/about-us") %>

    <%- include("../partials/footer") %>


</html>