<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/styles/typography.css">
    <link rel="stylesheet" href="/styles/header-footer.css">
</head>

<body>

    <%- include("../partials/header") %>

        <main></main>

        <%- include("../partials/footer") %>

</body>

</html>